<div class="card shadow rounded card-tarefa">
  <div class="card-header card-tarefa__header">
    {{ titulo }}
  </div>
  <div class="card-body p-0">
    <ul class="list-group list-group-flush">
      @for (tarefa of tarefas | filtraPorEtapa:etapa; track $index) {
        <li class="list-group-item d-flex justify-content-between list-group-item-light">
          <span class="me-4">{{ tarefa.nome }}</span>
          <div class="card-tarefa__actions">
            @if (etapa === EtapaEnum.INICIADA) {
              <button (click)="retornarEtapa(tarefa)" class="card-tarefa__icon-button" aria-label="voltar tarefa">
                <i-feather name="corner-down-left" aria-hidden="true" class="card-tarefa__icon-corner-down-left"></i-feather>
              </button>
            }

            @if (etapa !== EtapaEnum.FINALIZADA) {
              <button (click)="decideTarefa(tarefa)" class="card-tarefa__icon-button" aria-label="iniciar tarefa">
                <i-feather name="play" ari-featheria-hidden="true" class="card-tarefa__icon-play"></i-feather>
              </button>
              <button (click)="deletaTarefa(tarefa.id)" class="card-tarefa__icon-button" aria-label="excluir tarefa">
                <i-feather name="trash" aria-hidden="true" class="card-tarefa__icon-trash"></i-feather>
              </button>
            }
          </div>
        </li>
      } @empty {
        <li class="list-group-item d-flex justify-content-center list-group-item-light">
          <span class="me-4">lista vazia</span>
        </li>
      }
    </ul>
  </div>
</div>