@if (alertaService.exibeAlerta) {
  <div class="alert alert-danger" role="alert">
    deu erro xpto
  </div>
}
<div class="d-flex justify-content-center">
  <app-cadastrar-tarefa></app-cadastrar-tarefa>
</div>
<div class="d-flex justify-content-around">
  <app-card-tarefa
    titulo="backlog"
    [etapa]="EtapaEnum.BACKLOG"
    [tarefas]="(tarefas$ | async) ?? []"
  >
  </app-card-tarefa>
  <app-card-tarefa
    titulo="iniciadas"
    [etapa]="EtapaEnum.INICIADA"
    [tarefas]="(tarefas$ | async) ?? []"
  >
  </app-card-tarefa>
  <app-card-tarefa
    titulo="finalizadas"
    [etapa]="EtapaEnum.FINALIZADA"
    [tarefas]="(tarefas$ | async) ?? []"
  >
  </app-card-tarefa>
</div>